@import '../../constants';

.c-file {

    position: relative;

    &.animate {
        animation: c-file-FadeIn 0.4s;
    }

    .overlay {
        display: flex;
        justify-content: space-between;
    }

    .overlay-inside {
        position: absolute;
        flex-direction: column;

        .overlay-top {
            position: absolute;
            top: 0px;
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .previousPage {
            left:0px;
        }

        .nextPage {
            right:0px;
        }

        .previousPage, .nextPage {
            text-decoration: none;
            font-size: 1.2rem;
            position: absolute;
            top:45%;
            z-index: 2;
            -webkit-text-stroke: 2px white;

            &:hover {
                text-decoration: none;
            }
        }

        .pageNumber {
            position: absolute;
            bottom: 0px;
            right : 0px;
            z-index: 2;
            background-color: @white;
            padding: 0px 3px;
        }
    }

    .overlay-header {
        position: relative;
        flex-direction: row;

        .overlay-top {
            display: flex;
        }

        .previousPage, .nextPage {
            text-decoration: none;
            font-size: 1.2rem;
            z-index: 2;
            -webkit-text-stroke: 2px white;
            &:hover {
                text-decoration: none;
            }
        }

        .pageNumber {
            z-index: 2;
            background-color: @white;
            padding: 0px 3px;
        }
    }



    .link {
        z-index: 10;
        background-color: @white;
        padding: 1px 5px;
        border-radius: 3px;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        cursor: pointer;
        &:hover {
            background-color: @navLysBla;
        }
    }


}

@keyframes c-file-FadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
