@import 'nav-frontend-ekspanderbartpanel-style/src/index';

.highContrast .c-expandingpanel {
  background: black;
  border: 2px solid white;

  .ekspanderbartPanel__hode {
    background: black;
  }
}