@import '../constants';

._container {
  display: flex;

  .eessi-pensjon-logo {
    width: 100px;
    height: 100px;
  }
  
  aside {
    background: #f4f4f4;
    padding: 2rem 2rem;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      color: #0067C5;
      text-decoration: none;
      border-left: 2px solid transparent;
      position: relative;
      line-height: 1rem;
    }
  }

  .body {

    ul {
      margin: 0;
      padding: 0;
      padding-left: 1rem;
    }
  }

}

.highContrast._container {
  color: @high-contrast-orange !important;
  background-color: @black !important;

  aside {
    background: #222222 !important;
  }
}
