.c-tableSorter {

  &__status {
    min-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 0.5rem;
  }

  &__subcell {
    display: flex;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  }

  &___seefilters-icon {
    cursor: pointer;
  }

  &__pagination {
    justify-content: flex-end;
  }

  .header {
    cursor: pointer;
  }
}

.highContrast {
  tbody {
    tr:nth-child(odd) {
      background: black;
    }

    tr:nth-child(even) {
      background: #333333;
    }
  }

  .tabell__tr--valgt td {
    background: orange !important;
    color: black;
    * {
      color: black;
    }
  }
}