.c-flag {

  border: 1px solid lightgrey;
  display: inline-block;

  &.type-circle {
    border-radius: 50%;
    overflow: hidden;

    &.size-M {

      width: 25px;
      height: 25px;

      img {
        height: 25px;
        margin-left: -6px;
      }
    }

    &.size-L {

      width: 40px;
      height: 40px;

      img {
        height: 40px;
        margin-left: -8px;
      }
    }
  }

  &.type-original {

    &.size-M img {

      height: 25px;
      width: auto;
    }

    &.size-L img {

      height: 40px;
      width: auto;
    }
  }
}

.c-flaglist {
  display: flex;
  flex-wrap: nowrap;
}
