.c-flag {
  border: 1px solid lightgrey;

  &.type-circle {
    border-radius: 50%;
    overflow: hidden;

    &.size-M {

      width: 25px;
      height: 25px;

      svg {
        width: 40px;
        height: 110%;
        margin-left: -8px;
        margin-top: -20%;
      }
    }

    &.size-L {

      width: 40px;
      height: 40px;

      svg {
        width: 60px;
        height: 100%;
        margin-left: -8px;
        margin-top: 0%;
      }
    }
  }

  &.type-original {

    &.size-M {

      height: 25px;
      width: 40px;
    }

    &.size-L {

      height: 40px;
      width: 80px;
    }
  }
}

.c-flaglist {
  display: flex;
  flex-wrap: wrap;
}
