@import '../../constants';

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .c-flag.type-original {
    display: inline-block;
    img {
      border: 1px solid @navGra40;
    }
  }
}

@supports not (-ms-high-contrast: none) {
  /* Non-IE styles here */
  .c-flag.type-original {
    border: 1px solid @navGra40;
    display: inline-flex;
  }
}

@keyframes jiggle {
  0% {
    opacity: 0.01;
    transform: scale3d(1, 1, 1)
  }
  1% {
    opacity: 1;
    transform: scale3d(1, 1, 1)
  }
  30% {
    transform: scale3d(1.25, .75, 1)
  }
  40% {
    transform: scale3d(.75, 1.25, 1)
  }
  50% {
    transform: scale3d(1.15, .85, 1)
  }
  65% {
    transform: scale3d(.95, 1.05, 1)
  }
  75% {
    transform: scale3d(1.05, .95, 1)
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1)
  }
}

.c-flag {

  &.type-circle {

    display: inline-flex;
    border: 1px solid @navGra40;

    border-radius: 50%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      margin: auto;
      top: -999px;
      left: -999px;
      bottom: -999px;
      right: -999px;
    }

    &.size-S {

      width: 16px;
      height: 16px;
      min-width: 16px;
      min-height: 16px;

      img {
        height: 16px;
      }
    }

    &.size-M {

      width: 25px;
      height: 25px;
      min-width: 25px;
      min-height: 25px;

      img {
        height: 25px;
      }
    }

    &.size-L {

      width: 40px;
      height: 40px;
      min-width: 40px;
      min-height: 40px;

      img {
        height: 40px;
      }
    }

    &.size-XL {

      width: 70px;
      height: 70px;
      min-width: 70px;
      min-height: 70px;

      img {
        height: 70px;
      }
    }
  }

  &.type-original {

    &.size-S img {

      height: 16px;
      min-height: 16px;
      width: auto;
    }

    &.size-M img {

      height: 25px;
      min-height: 25px;
      width: auto;
    }

    &.size-L img {

      height: 40px;
      min-height: 40px;
      width: auto;
    }

    &.size-XL img {

      height: 70px;
      min-height: 70px;
      width: auto;
    }
  }
}

.c-flaglist {
  display: flex;
  flex-wrap: nowrap;

  &.wrap {
    flex-wrap: wrap;
  }

  &.animate .c-flag {
    opacity: 0.01;
    animation: jiggle 0.5s forwards;
  }
}
