.c-pdf-PageInDnD {

    display: inline-block;

    .pageNumber {
        position: absolute;
        bottom: 0px;
        right: 0px;
        z-index: 2;
        background-color: white;
        padding: 0px 3px;
        border-radius: 3px;
    }

    .document {
        position: relative;
    }

    .icon {
       position: absolute;
       z-index: 10;
       background-color: white;
       padding: 0px 5px;
       border-radius: 3px;
       box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
       cursor: pointer;
       top: 0px;

       &:hover {
            background-color: lightblue;
       }

       &.actionIcon {
          right: 0px;
       }

       &.previewIcon {
          right: 30px;
       }
    }

    .page {
        display: inline-block;
        border: none;
        box-shadow: 3px 3px 3px lightgray;
        background: linear-gradient(-45deg, rgba(255,255,255,1), rgba(255,255,255,1)), linear-gradient(45deg, rgba(255,255,255,1), rgba(255,255,255,1)), linear-gradient(135deg, transparent 7%, rgba(255,255,255,1) 7%);
        background-size: 50% 0%, 50% 100%, 100% 100%;
        background-position: 0 0, 100% 100%, 100% 0;
        background-repeat: no-repeat;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 16%;
            height: 11%;
            box-shadow: 1px 1px 1px rgba(128,128,128,0.3), 2px 2px 2px rgba(128,128,128,0.2);
            background: linear-gradient(135deg, transparent 50%, rgba(255,255,255,1) 50%);
        }
        .react-pdf__Page__svg  {
            background: transparent !important;
        }
    }
}
