@import '../../constants';

.c-multipleSelect {

  .c-multipleOption {
    padding: 10px;
    &.selected {
       background: @navLysBla;
       label {
         color: @font-color !important;
       }
    }
    &.focused {
      background: aliceblue;
      label {
        color: @font-color !important;
      }
    }

    .skjemaelement {
       margin-bottom: 0rem !important;
    }

    img {
       border: 1px solid @navGra60;
    }
  }

  .multipleSelect__multi-value {
      border-radius: 20px;
      border: 1px solid @navMorkGra;
      padding: 0.25rem;

      &__label {
        padding: 0px;
      }

      &:focus {
        outline: 0;
        box-shadow: 0 0 0 3px #254b6d;
      }

      &:hover .multipleSelect__multi-value__remove {
        display: flex;
      }
      .multipleSelect__multi-value__remove {
        display: none;
      }
  }

  .multipleSelect__multi-value__remove {
      border-radius: 20px;
      border: 1px solid @navMorkGra;
      margin-left: 0.25rem;
  }

  .c-multipleOption-label {
     color: @font-color;
     font-style: normal;
  }

  .multipleSelect__menu {
    z-index: 500;
  }

  .multipleSelect__control {
    border: 1px solid @navMorkGra;
  }

  .multipleSelect__indicator-separator {
    background-color: @navMorkGra;
  }

  .c-multipleSelect-multipleValueRemove {
     border: 1px solid @navMorkGra;
     border-radius: 20px;
     width: 24px;
     height: 24px;
     text-align: center;

     &:hover {
       background-color: @white;
     }
   }
}

.c-multipleSelect.skjemaelement__feilmelding {
  .multipleSelect__control {
    border: 1px solid @redError;
  }
}

.highContrast .c-multipleSelect {

  .multipleSelect__control {
     border-width: 2px;
     border-color: @white;
  }

  .multipleSelect__control {
    background: black !important;
  }

  .c-multipleOption {

    background: @black;

    &.selected {
       background: @navBla;
       color: @black !important;
       font-weight: bold;
    }
    &.focused {
       background: @orangeFocus;
       color: @black !important;
       font-weight: bold;
    }
  }
}


.highContrast .c-multipleSelect {
  &.skjemaelement__feilmelding {
    .multipleSelect__control {
      border-width: 2px;
      border-color: @redError;
    }
  }

  .multipleSelect__multi-value {
    border: 1px solid @white;
    background-color: @black;
  }

  .multipleSelect__multi-value__label {
    color: @white;
  }

  .multipleSelect__group {
    background-color: @black;
  }
}

.c-multipleOption img,
.c-multipleValue img {
  width: 50px;
  height: 30px;
  margin-right: 0.7rem;
}
