@import './constants';

.highContrast {
  .fieldset,
  .panel {
    background: @black !important;
  }

  .skjemaelement__input {
    background: @black !important;
  }

  .alertstripe {
    background: @black !important;
    border-width: 2px;
  }

  .nav-veilederpanel {
    background: @black !important;
  }

  p, code, th, td, section, aside, article, header, footer, li, h1, h2, h3, h4, h5,h6, input,
  time, figcaption, select, textarea, label {
    color: @white;
  }

  a, .link-btn, .fake-link {
    color: @high-contrast-orange !important;
  }

  a:hover, .link-btn:hover,.fake-link:hover,
  a:active, .link-btn:active, .fake-link:active,
  a:focus, .link-btn:focus,.fake-link:focus {
    color: #0ca9e1 !important;
  }

  a h1, a h2, a h3, a p, a span {
    color: @high-contrast-orange !important;
  }

  a:hover h1, a:active h1, a:focus h1, a:hover h2, a:active h2, a:focus h2,
  a:hover h3, a:active h3, a:focus h3, a:hover p, a:active p, a:focus p,
  a:hover span, a:active span, a:focus span {
    color: #0ca9e1 !important;
  }

  .hero-link:focus, .hero-link:hover, .hero-link:active {
    border-color: transparent;
  }

  label, input, select, textarea {
    color: @white !important;
  }

  .knapp, .knapp.hoved, .knapp.btn-auth, .btn {
    border: 1px solid #fff;
    color: @high-contrast-orange !important;
    background-image: none;
  }

  .knapp:focus, .knapp.hoved:focus, .knapp.btn-auth:focus, .btn:focus, .knapp:hover, .knapp.hoved:hover, .knapp.btn-auth:hover, .btn:hover, .knapp:active, .knapp.hoved:active, .knapp.btn-auth:active, .btn:active {
    border-color: #ffc40d;
    color: @high-contrast-orange !important;
    text-decoration: underline
  }

  .tooltip {
    background: @white !important;
    color: @black !important
  }

  .tooltip .tooltip-inner {
    background: @white !important;
    color: @black !important
  }

  .tooltip .tooltip-arrow {
    border-right-color: @white !important
  }

  .tooltip * {
    background-color: @white !important
  }

  .tooltip span, .tooltip p, .tooltip div, .tooltip th, .tooltip td, .tooltip section, .tooltip aside, .tooltip article, .tooltip header, .tooltip footer, .tooltip li, .tooltip h1, .tooltip h2, .tooltip h3, .tooltip h4, .tooltip h5, .tooltip h6, .tooltip input, .tooltip time, .tooltip figcaption, .tooltip select, .tooltip textarea, .tooltip label {
    color: @black !important
  }

  .hero-banner, .hero-banner * {
    background: #F1F1F1 !important
  }

  .siteheader .hero-banner.nighttime, .siteheader .hero-banner.nighttime * {
    background-color: #98B3B7 !important
  }

  ::-webkit-input-placeholder {
    color: @white
  }

  ::-moz-placeholder {
    color: @white
  }

  :-ms-input-placeholder {
    color: @white
  }

  .dropdown-menu {
    border: 1px solid @white
  }

  li.dropdown .caret {
    border-top: 4px solid @high-contrast-orange
  }

  li.dropdown:hover .caret, li.dropdown:active .caret, li.dropdown:focus .caret {
    border-top: 4px solid #0ca9e1
  }

  .btn-small {
    background-color: transparent;
    background-image: none !important;
    border: 1px solid #d1d1d1
  }

  .btn-small:hover, .btn-small:active, .btn-small:focus {
    color: @high-contrast-orange;
  }

  .skjemaelement__input {
    border-width: 2px;
    border-color: @white;
  }

  .skjemaelement__input--harFeil {
    border-color: #BA3A26;
  }

  .skjemaelement__feilmelding {
    color: #BA3A26 !important;
  }
}
