@import '../../keyframes';

.c-progressbar {
  background-color: lightgrey;
  width: 100%;
  display: block;
  border-radius: 4px;
}
.c-progressbar-bar {
  border-radius: 4px;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width .6s ease;
  background-image: linear-gradient(45deg, hsla(0, 0%, 100%, .15) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, .15) 0, hsla(0, 0%, 100%, .15) 75%, transparent 0, transparent);
  background-size: 1rem 1rem;
  animation: c-progressbar-animation 1s linear infinite;
}

.highContrast {
  .c-progressbar {
    background-color: #222222;
    border: 2px solid white;
  }
  .c-progressbar-bar {
    background: #80bdff;
    color: black;
  }
}