@import '../../constants';

.c-countrySelect {

  .c-countryValue {
    display: flex;
    align-items: center;
  }

  &__select__option--is-selected {
    background: orange !important;
  }

  &__select__option--is-focused {
    background: lightblue !important;
  }

  .c-countryOption {
    display: flex;
    align-items: center;

    &__label {
       color: @font-color;
       font-style: normal;
    }

    img {
       width: 50px;
       height: 30px;
    }
  }

  &__select {

     &__control {
      border: 1px solid @navMorkGra;
    }

    &__indicator-separator {
      background-color: @navMorkGra;
    }

  }

  &.skjemaelement__feilmelding {

    .c-countrySelect__select__control {
      border: 1px solid @redError;
    }
  }
}

.highContrast .c-countrySelect {

  &__select {
    &__control {
      border-width: 2px;
      border-color: @white;
      background: black !important;
    }
  }

  &__select__option--is-selected {
    background: @navBla !important;
    font-weight: bold;

    .c-countryOption__label {
      color: @black !important;
    }
  }

  &__select__option--is-focused {
    background: @orangeFocus !important;
    font-weight: bold;

    .c-countryOption__label {
      color: @black !important;
    }
  }

  .c-countrySelect__select__option {
    background: @black;
  }

  .c-countryOption__label {
    color: @white;
  }
  .skjemaelement__feilmelding {
    .c-countrySelect__select__control {
       border-width: 2px;
       border-color: @redError;
    }
  }
}
