@import '../../constants';

.c-banner {

  background-color: @pension-orange-alpha-80;

  &__highcontrast-link {
    position: absolute;
    right: 1rem;
    color: @black;
    text-decoration: none;
  }
}

.highContrast .c-banner {

  background-color: @black;
  color: @white;

  &__highcontrast-link {
    color: @white;
  }
}



